@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body{
    background-color: rgb(250, 206, 206);
    color:rgb(255, 255, 255);
    font-family: "Merriweather", serif;
   
}

.cabecalho{
    text-align: center;
    background-color: rgb(212, 129, 140);
    padding: 30px;
}

