@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');')

body{
    background-color: rgb(255, 230, 230);
    color:white;
    font-family: "Dancing Script", cursive;
   
}

.cabecalho{
    text-align: center;
    background-color: rgb(246, 157, 169);
}