@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body{
    background-color: rgb(250, 206, 206);
    color:rgb(255, 255, 255);
    font-family: "Merriweather", serif;
   
}

.cabecalho{
    text-align: center;
    background-color: rgb(228, 132, 132);
    padding: 30px;
}
.texto-post{
    margin-left: 40xp;
}
button{
    width: 100xp;
    padding: 10xp;
    border-radius: 10xp;
    background-color: blue;
    color: white;
}

